@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import "./TeamsAndResultsStyles/teamsAndResults.css";
@import "./GameplayAreaStyles/gameplayArea.css";
@import "./seasonScoreBanner.css";


/* typography */
body, button, input, select, textarea {
    color: whitesmoke;
    font-family: "MedievalSharp", cursive, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "MedievalSharp", serif;
    letter-spacing: 2px;
}

/* title header */
.titleHeader {
    text-align: center;
    font-weight: bold;
    color: brown;
    text-shadow: 0 0 5px #C89721;
    font-size: 4em;
    margin-bottom: 10px;
}

/* overall styling */

body {
    margin: 0;
    background-color: #003314;
}

/* flexbox structure of main elements */
.container {
    display: flex;
    flex-flow: column nowrap;
}

/* general buttons styling */

.button {
    background-color: brown;
}

.button:hover {
    cursor:pointer;
}

/* some colors for our selects */
select {
    color: grey;
}

select:hover {
    cursor: pointer;
    background-color: rgba(165, 42, 42, 0.7);
}

/* footer styling */
.footer {
    color: rgba(128, 128, 128, 0.61);
    margin: 0;
}

.footerCredits {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerCredits li {
    display: inline-block;
    margin: 0px 1%;
}