@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import "./TeamsAndResultsStyles/teamsAndResults.css";
@import "./GameplayAreaStyles/gameplayArea.css";
@import "./seasonScoreBanner.css";

/* typography */
body, button, input, select, textarea {
    color: whitesmoke;
    font-family: "MedievalSharp", cursive, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "MedievalSharp", serif;
    letter-spacing: 2px;
}

/* overall styling */

body {
    margin: 0;
    background-color: #003314;
}

header {
    background-color: #C89721;
}

/* flexbox structure of main elements */
.container {
    display: flex;
    flex-flow: column nowrap;
}

/* general buttons styling */

.button {
    background-color: brown;
}

/* some colors for our selects */
select {
    color: grey;
}