.teamTickerItem {
    margin: 0 2em;
    white-space: nowrap;
}

.header {
    display: flex;
    overflow: hidden;
}

.ticker {
    display: flex;
    flex-direction: row;
    padding-left: 100%;
    animation: ticker 30s infinite linear;
}

.ticker:hover {
    animation-play-state: paused;
}

@keyframes ticker {
    100% {
        transform: translateX(-100%);
    }
}
