.teamTickerItem {
    margin: 0 2em;
    white-space: nowrap;
}

.ticker-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #C89721;
    padding-left: 100%;
    box-sizing: content-box;
    z-index: 100;
}

.ticker {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation: ticker 45s infinite linear;
}

.ticker:hover {
    animation-play-state: paused;
}

@keyframes ticker {
    100% {
        transform: translateX(-100%);
    }
}

.teamTickerItem {
    display: inline-block;

    padding: 0 1em;
}