.teamsAndResults {
    display: flex;
    flex-flow: row wrap;
}

.teamsAndResultsChunk {
    border: green solid 2px;
    margin: 5px;
    flex: 1;
}


/* all recent game list css go here */

.recentGameResults {
    border: red solid 2px;
    overflow: auto;
}

/* all team formation css go here */
.teamFormation {
    display: flex;
    flex-flow: row wrap;
}

.teamFormationChunk {
    border: blue solid 2px;
    margin: 0px 5px;
    flex: 1;
}

.joinTeam {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.joinTeamChunk {
    flex-basis: 20%;
    margin: 3% 0;
}

.incompleteTeamList {
    overflow: auto;
}