.activeScoreBoard {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
    background-color: #c8962167;
}

.activeScoreBoard__ticker {
    display: flex;
    flex-direction: row;
    animation: ticker 60s infinite linear;
    padding-left: 100%;
}

.activeScoreBoard:hover {
    animation-play-state: paused;
}

.scoreTitleCard {
    padding: 0 1em;
    font-weight: bold;
    display: table;
}

.activeScoreBoard__ticker .scoreCard {
    border-left: solid 2px #C89721;
}

.scoreTitleCard h3 {
    display: table-cell;
    vertical-align: middle;
    font-size: 1em;
}


table {
    padding: 0 1em;
}

tr, td, th {
    padding: 0 1em;

}

table {
    border-collapse: collapse;
}

@keyframes ticker {
    100% {
        transform: translateX(-105%);
    }
}
