.recentGameResults {
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
}

.recentGamesHeader {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

.recentGamesList {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
}

.recentGamesListItem {
    min-width: 10%;
    position: relative;
}

.recentGamesListItem {
    border-left: 2px solid #C89721;
}

.recentGamesListItem:last-child {
    border-right: 2px solid #C89721;
}

.scorecard {
    width: 100%;
    height: 100%;
    border: none;
    text-align: left;
}


.recentGamesListItem:hover {
    background-color: rgba(165, 42, 42, 0.7);
    cursor: pointer;
}
