@import "./teamList.css";
@import "./boxScore.css";
@import "./createTeam.css";
@import "./joinTeam.css";
@import "./recentGames.css";
@import "./TeamRostersList.css";



.teamsAndResults {
    display: flex;
    flex-flow: column-reverse nowrap;
}

.teamsAndResultsChunk {
    margin: 5px;
}

.recentGameResults {
    flex: 1;
}

/* all team formation css go here */
.teamFormation {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    border: solid 5px #C89721;
    border-radius: 10px;
}

.teamFormationChunk {
    margin: 0px;
    flex: 1;
    text-align: center;
    min-height: 250px;
    max-height: 250px;
    min-width: 250px;
    overflow-y: auto;
    border: solid 2px #C89721;
}






